<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165576121919-5rs9djgpdpisemuuu9bd7v90pkug0or1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165576121919-5rs9djgpdpisemuuu9bd7v90pkug0or1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>165576121919-397otphimgufm422lsd0n6ivkr8qhc0s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3OEi5KuxlSwTDkPDIS2YnbNonCUeQST0</string>
	<key>GCM_SENDER_ID</key>
	<string>165576121919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hc.project</string>
	<key>PROJECT_ID</key>
	<string>hc-auth-636a3</string>
	<key>STORAGE_BUCKET</key>
	<string>hc-auth-636a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165576121919:ios:57cfe168da069487dea28a</string>
</dict>
</plist>